#score_to_ranking{
    float: right;
}

h6{
    font-size: 23pt;
    font-weight: bold;
    transition: font-size 0.5s, color 0.5s;
}

#btn-next-score{
    float: left;
    width: auto;
    padding: 1%;
}

#btn-back-score{
    float: right;
}

